<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= htmlWebpackPlugin.options.preHead %>
    <%= htmlWebpackPlugin.tags.headTags %>
    <%= htmlWebpackPlugin.options.postHead %>
  </head>
  <body>
    <div id="app">
      <header>
        <h1>LOADING!!!!!</h1>
      </header>
    </div>

    <%= htmlWebpackPlugin.options.preBody %>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <%= htmlWebpackPlugin.options.postBody %>
  </body>
</html>
